[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-base-url = "*"
pytest-selenium = "*"
pypom = "*"
pytest-variables = "*"
pytest-html = "*"

[dev-packages]

[requires]
python_version = "3.6"
